// Layout Settings
//==================================================================*/
html { font-size: 100%; }

// Media Queries
//--------------------------------------------------------------*/
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;


$base-font-size: 16px;
$base-color: #4c4c4c;
$base-font-family: 'overpass', Arial, Helvetica, sans-serif;


// Global Settings
//==================================================================*/
$global-padding: 15px;
$global-margin: 30px;


// Font Settings
//==================================================================*/

$h1-font-size: 49px;
$h2-font-size: 49px;
$h3-font-size: 20px;
$h4-font-size: 23px;
$h5-font-size: 18px;
$h6-font-size: 16px;
