.ins-p-page-header {
  background: $white;
  @include rem('padding', $global-padding $global-padding*2);
  @include rem('margin-bottom', $global-margin);
  border-bottom: 2px solid $gray;

  @include media-query(md){
    display: grid;
    grid-template-columns: max-content auto;
    &__aside {
      margin-right: 0;
      margin-left: auto;
    }
  }
  @include media-query(sm){
    display: grid;
  }

  align-items: center;

  &__page-title {
    margin: 0;
    @include font-size(24px);
    font-weight: 300;
    display: inline;
  }

  &__aside .suptitle {
    color: $gray-dark;
    font-weight: 300;
  }
}