body {
    font-family: Overpass, sans-serif;
    color: rgb(88,88,88);
    font-size:14px;
    /*margin-left:120px;
    margin-right:120px;*/
}

@font-face {
  font-family: 'ins-battery';
  src: url('fonts/ins-battery.eot');
  src: url('fonts/ins-battery.eot?#iefix') format('embedded-opentype'),
       url('fonts/ins-battery.woff') format('woff'),
       url('fonts/ins-battery.ttf')  format('truetype');
       font-weight: 700;
       font-style: normal;
}

[v-cloak] { display:none; }