html
    head
        title Insights Big Zam
        link(rel='stylesheet' href='bootstrap.css')
        link(rel='stylesheet' href='style.css')
        script(src='https://unpkg.com/vue')
        script(src='scripts/index.js')
        script(src='scripts/jquery.min.js')
        script(src='scripts/bootstrap.min.js')
    body
        #app
            //- system metadata
            .row
                .col-sm-7
                    div
                        h2 {{ display_name }}
                    div
                        b Hostname:&nbsp;
                        span {{ system.hostname }}
                    div
                        b UUID:&nbsp;
                        span {{ system.system_id }}
                .col-sm-5
                    table
                        tbody
                            tr
                                td Operating System
                                td {{ system.metadata.release }}
            //- .tab-content
            .d-flex.flex-row
                .card.rounded-0(style='margin:5px')
                    .card-header 
                        strong BIOS
                    .card-body.p-2
                        ul(v-for='(val, key) in system.metadata.bios_information')
                            strong {{ key }}
                            br
                            span {{ val }}
                .card.rounded-0(style='margin:5px')
                    .card-header 
                        strong System
                    .card-body.p-2
                        ul(v-for='(val, key) in system.metadata.system_information')
                            strong {{ key }}
                            br
                            span {{ val }}


                        
            //- separator
            .d-flex.flex-row-reverse
                a Expand all
            //- rule summaries
            .d-flex.flex-column(v-if='Object.keys(reports).length > 0')
                div(v-for='report in reports')
                    span(style='width:10px; position:absolute; margin-left:-10px; margin-top:10px; cursor:pointer' v-on:click='report.expanded_ = !report.expanded_') {{ report.expanded_ ? 'v' : '>' }}
                    span.card.rounded-0.p-3(style='margin:5px')
                        .card-body
                            p
                                h6(style='display:inline-block') {{ report.category }}  &gt; {{ report.title.plain }}&nbsp;
                            p
                                span Impact: {{ report.impact }}&nbsp;
                                span Likelihood: {{ report.likelihood }}&nbsp;
                                span Total Risk: &nbsp;
                            div(v-show='report.expanded_')
                                p
                                    h6 Detected Issues
                                    div(v-html='report.summary.html')
                                    div(v-html='report.details.html')
                                p 
                                    h6 Steps to Resolve
                                    div(v-html='report.resolution.html')
                                hr
                                p(v-html='report.reference.html')

            div(v-if='Object.keys(reports).length === 0')
                p No Actions
            //-     p {{report.title.plain}}
            //-     p {{report.description.plain}}
            //-     p {{report.details.plain}}
            //-     p {{report.resolution.plain}}

